:root {
  --europe-color: #003399;
  --europe-color-dark: #002277; /* Slightly darker shade for Europe button */

  --africa-color: #006239;
  --africa-color-dark: #004c2e; /* Slightly darker shade for Africa button */

  --asia-color: #ee1c25;
  --asia-color-dark: #bb161c; /* Slightly darker shade for Asia button */

  --americas-color: #0a3161;
  --americas-color-dark: #072341; /* Slightly darker shade for Americas button */

  --oceania-color: #ffcd00;
  --oceania-color-dark: #d1ae00; /* Slightly darker shade for Oceania button */
  --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

h1 {
  color: white;
}

footer {
  color: white;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #e9ecef;
  max-height: 770px;
  width: 360px;
  min-width: 250px;
  border-radius: 2rem;
  margin: 30px;

  -webkit-box-shadow: 0px 0px 110px 36px rgba(45, 255, 196, 0.9);
  -moz-box-shadow: 0px 0px 110px 36px rgba(45, 255, 196, 0.9);
  box-shadow: 0px 0px 110px 36px rgba(45, 255, 196, 0.9);
}

@media (max-width: 1440px) {
  body {
    height: 100vh;
  }

  .main-section {
    padding: 0 1.5rem;
  }
}

@media (max-width: 1024px) {
  .header-section {
    padding: 1rem;
  }

  .game-section {
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  body {
    height: auto; /* Allow height to adjust based on content */
  }

  .header-section {
    padding: 0.8rem;
  }

  .main-section {
    padding: 0 1rem;
    flex-direction: column; /* Stack sections vertically */
  }

  .game-section {
    width: 80%; /* Adjust width for smaller screens */
    margin: 1rem auto; /* Center and adjust margin */
  }

  .btn,
  .next-btn,
  .homescreen-btn,
  .skip-btn {
    font-size: 1rem; /* Smaller font size */
    width: 90%; /* Adjust button width */
    max-width: none; /* Remove max-width */
  }
}

@media (max-width: 718px) {
  .header-section {
    padding: 0.5rem;
  }

  .main-section {
    padding: 0 0.5rem;
  }

  .game-section {
    width: 90%; /* Further adjust width */
    margin: 0.8rem auto; /* Center and adjust margin */
    padding: 1rem; /* Add padding for better spacing */
  }

  .flag-image {
    max-height: 100px; /* Adjust flag image size */
  }

  .guess-text {
    font-size: 1rem; /* Smaller font size */
    height: 40px; /* Adjust height */
  }

  .score {
    font-size: 2rem; /* Smaller font size */
  }

  .score-value {
    font-size: 3rem; /* Smaller font size */
  }

  .btn,
  .next-btn,
  .homescreen-btn,
  .skip-btn {
    font-size: 0.9rem; /* Smaller font size */
    width: 100%; /* Full width */
  }
}
#europe-button {
  background-color: var(--europe-color);
  color: #ffcc00;
}

#europe-button:hover,
#europe-button:active {
  background-color: var(--europe-color-dark);
}

#africa-button {
  background-color: var(--africa-color);
  color: #fabc0c;
}

#africa-button:hover,
#africa-button:active {
  background-color: var(--africa-color-dark);
}

#asia-button {
  background-color: var(--asia-color);
  color: #ffff00;
}

#asia-button:hover,
#asia-button:active {
  background-color: var(--asia-color-dark);
}

#americas-button {
  background-color: var(--americas-color);
  color: #ffff;
  border-color: #b31942;
}

#americas-button:hover,
#americas-button:active {
  background-color: var(--americas-color-dark);
}

#oceania-button {
  background-color: var(--oceania-color);
  color: #00843d;
}

#oceania-button:hover,
#oceania-button:active {
  background-color: var(--oceania-color-dark);
}

.game-heading {
  margin-top: 15px;
}

.flag-container {
  display: flex;
  flex-direction: column;
  gap: 62px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flag-image {
  max-height: 150px;
}

.options-container {
  margin-bottom: 2.4rem;
}

.guess-text {
  font-size: 1.2rem;
  text-align: center;
  border: solid 0.5px black;
  border-radius: 5px;
  height: 40px;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.score {
  font-size: 2rem;
}

.score-value {
  font-size: 3rem;
}

.btn {
  transition: transform 330ms ease-in-out, background-color 200ms ease,
    box-shadow 300ms ease;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.btn:active {
  transform: scale(0.95); /* Scale down a bit on click */
}

.btn,
.next-btn {
  cursor: pointer;
  border-radius: 9px;
  font-size: 1.8rem;
  width: 18rem;
  padding: 1rem;
}

.next-btn {
  background-image: linear-gradient(
    to right,
    #ff2d68 0%,
    #f45c43 51%,
    #ff2d68 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.next-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.inside-btn-continent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homescreen-btn {
  cursor: pointer;
  margin: 10px;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 9px;
}

.skip-btn {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 9px;
}
